<h5>Reactive Form Validation</h5>

<form [formGroup]="registForm" (ngSubmit)="OnSubmit()">
    <table>
        <tr>
            <td><label>Title</label></td>
            <td>
                <select formControlName="title">
                    <option value=""></option>
                    <option value="Mr">Mr</option>
                    <option value="Mrs">Mrs</option>
                    <option value="Miss">Miss</option>
                    <option value="Ms">Ms</option>
                </select>
                <div *ngIf="submit && f['title'].errors">
                    <div *ngIf="f['title'].errors['required']">Title is required</div>
                </div>
            </td>
        </tr>
        <tr>
            <td><label>Name</label></td>
            <td> <input type="text" formControlName="name" />
                <div *ngIf="submit && f['name'].errors">
                    <div *ngIf="f['name'].errors['required']"> Name is required</div>
                </div>
            </td>
        </tr>
        <tr>
            <td> <label>Role</label></td>
            <td>
                <input type="text" formControlName="role" />
                <div *ngIf="submit && f['role'].errors">
                    <div *ngIf="f['role'].errors['required']">Role is required</div>
                </div>
            </td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td>
                <input type="text" formControlName="email" />
                <div *ngIf="submit && f['email'].errors">
                    <div *ngIf="f['email'].errors['required']">Email is required</div>
                    <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
                </div>
            </td>
        </tr>
        <tr>
            <td><label>Location</label></td>
            <td> <input type="text" formControlName="location" />
                <div *ngIf="submit && f['location'].errors">
                    <div *ngIf="f['location'].errors['required']">Location is required</div>
                </div>
            </td>
        </tr>
        
        <tr>
            <td colspan="2">
                <div>
                    <button>Register</button>
                    <button type="reset" (click)="onReset()">Cancel</button>
                </div>
            </td>
        </tr>
    </table>


</form>